<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="me.weicools.material.component">
  
  <application
    android:name=".MaterialApp"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme"
    tools:ignore="AllowBackup,GoogleAppIndexingWarning">
    <activity android:name=".module.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    
    <activity android:name=".module.search.SearchHistoryCardActivity" />
    <activity android:name=".module.navigation.bottom.BottomNavigationBasicActivity" />
    <activity android:name=".module.navigation.bottom.BottomNavigationDarkActivity" />
    <activity android:name=".module.navigation.bottom.BottomNavigationIconActivity" />
    <activity android:name=".module.navigation.bottom.BottomNavigationLightActivity" />
    <activity android:name=".module.navigation.bottom.BottomNavigationMapBlueActivity" />
    <activity android:name=".module.navigation.bottom.BottomNavigationPrimaryActivity" />
    <activity android:name=".module.navigation.bottom.BottomNavigationShiftingActivity" />
    <activity android:name=".module.sheet.bottom.BottomSheetBasicActivity" />
    <activity android:name=".module.button.ButtonBasicActivity" />
    <activity android:name=".module.card.CardBasicActivity" />
    <activity android:name=".module.chip.ChipBasicActivity" />
    <activity android:name=".module.chip.ChipTagActivity" />
    <activity android:name=".module.dashboard.DashboardFlightActivity" />
    <activity android:name=".module.dialog.DialogAddPostActivity" />
    <activity android:name=".module.panel.expansion.ExpansionPanelBasicActivity" />
    <activity android:name=".module.form.FormLoginActivity" />
    <activity android:name=".module.grid.GridAlbumsActivity" />
    <activity android:name=".module.list.ListAnimationActivity" />
    <activity android:name=".module.login.LoginCardLightActivity" />
  </application>
</manifest>